# Python
__pycache__/
*.pyc
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtual Environment
.venv/
venv/

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Environment
.env

# PostgreSQL
*.db

# Ollama cache
models/

# Windows
Thumbs.db
Desktop.ini
.codegraph/
